<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:ss="http://www.springframework.org/schema/security"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

  <ss:authentication-manager alias="authenticationManager">
    <ss:authentication-provider>
      <ss:user-service id="userService">
         <ss:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN" />
        <ss:user name="joe" password="{noop}secret" authorities="ROLE_ADMIN" />
        <ss:user name="anon" password="{noop}anon" authorities="ROLE_ANON" />
        <ss:user name="user" password="{noop}password" authorities="ROLE_ANON" />
        <ss:user name="ross" password="{noop}ross" authorities="ROLE_ANON" />
        <ss:user name="marie" password="{noop}marie" authorities="ROLE_ANON" />
        
        <ss:user name="shaarvi" password="{noop}patil" authorities="ROLE_ADMIN" />
        
      </ss:user-service>
    </ss:authentication-provider>
  </ss:authentication-manager>
</beans>